<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th><th>Name</th><th>Description</th><th></th>
		</tr>
  </thead>
  <tbody>
{{#each model as |contact|}}
<tr>
  <td style="width:1px">
    {{kind-icon kind=contact.kind}}
  </td>
  <td>{{jid-span jid=contact.jid}}</td>
  <td>{{contact.description}}</td>
  <td style="text-align:right">
      {{#if (eq contact.kind "user")}}
        <button class="btn btn-danger btn-xs" {{action "delete_account" contact on="click"}}><i class="fa fa-trash"/> Delete</button>
      {{else if (eq contact.kind "device")}}
        <button class="btn btn-danger btn-xs" {{action "delete_account" contact on="click"}}><i class="fa fa-chain-broken"/> Unpair</button>
      {{else if (eq contact.kind "netbot")}}
        <button class="btn btn-danger btn-xs" {{action "delete_account" contact on="click"}}><i class="fa fa-trash"/> Destroy</button>
        <button class="btn btn-warning btn-xs"><i class="fa fa-pause-circle-o"/> Pause</button>
      {{/if}}
      {{#link-to "contact.edit" contact class="btn btn-default btn-xs" }}<i class="fa fa-pencil"/> Edit{{/link-to}}
  </td>
</tr>
{{/each}}
  </tbody>
</table>
