{{page-header title="Registered Accounts"}}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th><th>Admin</th><th>Device Manufacturer</th><th></th>
		</tr>
  </thead>
  <tbody>
{{#each model as |account|}}
  <tr><td>{{account.name}}</td>
    <td>
      {{toggle-button value=account.isAdmin on-clicked=(action "toggle_admin" account)}}
  	</td>
    <td>
      {{toggle-button value=account.isDeviceMaker on-clicked=(action "toggle_device_maker" account)}}
  	</td>
		<td style="text-align:right;">
      <button class="btn btn-danger btn-xs" {{action "delete_account" account on="click"}}><i class="fa fa-trash"/> Delete</button>
		</td>
	</tr>
{{/each}}
  </tbody>
</table>
<!-- vim: set tabstop=2 shiftwidth=2 expandtab: -->
